<style>
  .table{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 5px solid ;
    border-color: rgb(255 255 255)
  }
</style>
<div class="container">
  <div class="row" style="display:flex;">
    <div class="col-lg-12 col-md-8 col-sm-4"></div>
  <% for (let i=details.length-1; i >= 0; i--) { %>
    <table class="table table-bordered ">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Attendance Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="<%= details[i].status.length %>"><%= details[i].date%></td>
          <% for (let j=0; j < details[i].status.length; j++) { %>
            <td><%= details[i].status[j].name %></td>
            <td><%= details[i].status[j].isPresent %></td>
          </tr>
          <% if (j < details[i].status.length - 1) { %>
            <tr>
          <% } %>
          <% } %>
      </tbody>
    </table>
    <br> <!-- Add a line break here -->
  <% } %>
</div>
</div>

