<table style="display: flex;">
  <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Attendance Status</th>
  </tr>
    <tr>
      <% for (let i=0; i < details.length; i++) { %>
      <td rowspan="20">
        <%= details[i].date %>
      </td>
    <tr>
      <% details[i].status.forEach(ele=> { %>
        <td>
          <%=ele.name %>
        </td>
    <td>
      <%=ele.isPresent %>
    </td>
  </tr>
    <% }); %>
    <% } %>
      </tr>
</table>

