<form action="/admin/attendance" method="post">
  <table>
   
    <tr>
      <th>Name</th>
      <th>status</th>
    </tr>
    <td><input type="date" name="date" id=""></td>
    <%user.forEach(el => { %>
    
    <tr>
     <td><input type="text"  id="" value="<%=el.name %>"></td>
      <td><select name="status">
        <option value="present">present</option>
        <option value="Absent">Absent</option>
      </select></td>
    </tr>
    <% }); %>
  </table>
  <button type="submit">submit</button>
</form>  