<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
  *{
    /* color: white; */
    /* background-image: url('https://thumbs.dreamstime.com/b/old-book-flying-letters-magic-light-background-bookshelf-library-ancient-books-as-symbol-knowledge-history-218640948.jpg'); */
  }
.attendance-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  background-color: rgb(255, 238, 144);
}
.attendance-table th, .attendance-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

body{
background-color: yellowgreen;
height: 100%;
  }
</style>

<div class="container">
  <div class="row" style="display:flex;">
    <div class="col-lg-12 col-md-8 col-sm-4 d-flex justify-content-between" style="margin-top: 39px;margin-bottom: 33px;">
      <form class="form-inline">
        <input class="form-control" style="color:black; background-color: white;" type="date" id="date" name="date" placeholder="Select Date">
        <button class="btn btn-outline-dark" style="margin-left: 5px;" type="submit">Search</button>
      </form>
      <div class="form-inline" style="padding: auto;">
        <label for="days" style="font-weight: bold; color: black; font-size: large;">Number of Days:</label>
        <input class="form-control" style="margin-left: 5px; color:black; background-color: white;" type="number" id="days" name="days" min="1" max="<%= details.length %>" value="7">
        <button id="filter-btn" style="margin-left: 5px;" class="btn btn-success">Filter</button>
      </div>
    </div>
  </div>
  <div class="row" id="attendance-container">
    <% for (let i=details.length-1; i >= 0; i--) { %>
      <table class="table table-bordered attendance-table " style="color: black;">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Attendance Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="<%= details[i].status.length %>"><%= details[i].date%></td>
            <% for (let j=0; j < details[i].status.length; j++) { %>
              <td><%= details[i].status[j].name %></td>
              <td>
                <% const trues = "true" %>
                <% if (details[i].status[j].isPresent == trues) { %>
                  present
                <% } else { %>
                  absent
                <% } %>
              </td>
            </tr>
            <% if (j < details[i].status.length - 1) { %>
              <tr>
            <% } %>
            <% } %>
          </tbody>
      </table>
      <br>
    <% } %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#filter-btn').on('click', function() {
      const days = $('#days').val();
      $('#attendance-container .attendance-table').hide();
      $('#attendance-container .attendance-table:lt(' + days + ')').show();
    });

    $('form').on('submit', function(e) {
      e.preventDefault();
      const selectedDate = $('#date').val();
      $('#attendance-container .attendance-table').hide();
      $('#attendance-container .attendance-table').each(function() {
        const date = $(this).find('td:first').text();
        if (date == selectedDate) {
          $(this).show();
        }
      });
    });
  });
</script>
