<footer class="py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
      <div class="row ">
        <div class="dance-agile-info col-lg-4 col-md-3 col-sm-3" >
          <h4 class="pb-md-4 pb-3">Nav Links</h4>
          <nav class="border-line">
            <ul class="nav flex-column">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="#about" class="nav-link scroll">About</a>
              </li>
              <li class="nav-item">
                <a href="#service" class="nav-link scroll">Services</a>
              </li>
              <li class="nav-item">
                <a href="#gallery" class="nav-link scroll">Gallery</a>
              </li>
              <li class="nav-item">
                <a href="#team" class="nav-link scroll">Team</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-4 dance-agile-info">
          <h4 class="pb-md-4 pb-3">Our Posts</h4>
          <div class="footer-post d-flex mb-2">
            <div class="agileinfo_footer_grid1 mr-2">
              <a href="#about" class=" scroll">
              <img src="images/f1.jpg" alt=" " class="img-fluid">
              </a>
            </div>
            <div class="agileinfo_footer_grid1 mr-2">
              <a href="#about" class="scroll">
              <img src="images/f2.jpg" alt=" " class="img-fluid">
              </a>
            </div>
            <div class="agileinfo_footer_grid1">
              <a href="#about" class="scroll">
              <img src="images/f3.jpg" alt=" " class="img-fluid">
              </a>
            </div>
          </div>
          <div class="footer-post d-flex mb-2">
            <div class="agileinfo_footer_grid1 mr-2">
              <a href="#about" class="scroll">
              <img src="images/f3.jpg" alt=" " class="img-fluid">
              </a>
            </div>
            <div class="agileinfo_footer_grid1 mr-2">
              <a href="#about" class=" scroll">
              <img src="images/f2.jpg" alt=" " class="img-fluid">
              </a>
            </div>
            <div class="agileinfo_footer_grid1">
              <a href="#about" class=" scroll">
              <img src="images/f1.jpg" alt=" " class="img-fluid">
              </a>
            </div>
          </div>
          <div class="footer-post d-flex">
            <div class="agileinfo_footer_grid1 mr-2">
              <a href="#about" class="scroll">
              <img src="images/f2.jpg" alt=" " class="img-fluid">
              </a>
            </div>
            <div class="agileinfo_footer_grid1 mr-2">
              <a href="#about" class=" scroll">
              <img src="images/f3.jpg" alt=" " class="img-fluid">
              </a>
            </div>
            <div class="agileinfo_footer_grid1">
              <a href="#about" class=" scroll">
              <img src="images/f1.jpg" alt=" " class="img-fluid">
              </a>
            </div>
          </div>
        </div>
        <div class="dance-agile-info col-lg-4 col-md-4 col-sm-5">
          <h4 class="pb-md-4 pb-3">Our Times</h4>
          <div class="wls-hours-list">
            <ul>
              <li class="d-flex">Monday-Friday<span class="time ml-auto"> 9:30-18:30</span></li>
              <li class="d-flex">Saturday <span class="time ml-auto">10:30-14:30</span></li>
              <li class="d-flex">Sunday   <span class="time ml-auto">     closed</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-agile-right text-center pt-lg-4 pt-3">
      <p> 
        © 2018 Gym-Plus. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
      </p>
      <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
        <ul>
          <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
          <li><a href="#"><span class="fas fa-envelope"></span></a></li>
          <li><a href="#"><span class="fab fa-twitter"></span></a></li>
          <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
        </ul>
      </div>
    </div>
  </footer>