   <div class="header-w3layouts">
        <div class="container-fluid">
          <!--//navigation section -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="hedder-up " >
              <h1><a class="navbar-brand" href="index.html" data-aos="fade-right">Gym-Plus</a></h1>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" data-aos="fade-left">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="#about" class="nav-link scroll">About</a>
                </li>
                <li class="nav-item">
                  <a href="#service" class="nav-link scroll">Service</a>
                </li>
                <!-- <li class="nav-item">
                  <a href="#gallery" class="nav-link scroll">Gallery</a>
                </li> -->
                <li class="nav-item">
                  <a href="#client" class="nav-link scroll">Clients</a>
                </li>
                <li class="nav-item">
                  <a href="#contact" class="nav-link scroll">Contact</a>
                </li>
              </ul>
               <button type="button" class="btn btn-primary"> <a href="login">login</a></button>
            </div>
          </nav>
          <!--//navigation section -->
          <div class="clearfix"> </div>
        </div>
      </div>