<%- include('../partials/header.ejs') %>
<style>
       
  .header {
    background:#00C9FF;
  }
  .bi {
    color:#00C9FF;
  }

  .price {
    color:white;
    font-size: 150px;
    font-weight: 800;
    padding-top:-80% !important;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: auto;
    height: auto;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
 .flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #00C9FF;
    color: white;
    height: auto;
    padding:50px 0px;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    padding:50px 0px;
  }
</style>
<body>
    <div class="header-outs" id="header">
      <!--banner -->
      <div class="container">
        <div class="banner-slide-img" data-aos="fade-up">
          <!-- Slideshow 4 -->
          <div class="slider">
            <div class="callbacks_container">
              <ul class="rslides" id="slider4">
                <li>
                  <div class="slider-img">
                    <div class="slider-info ">
                      <h4>The Best Fitness</h4>
                      <h5> Grow Your Strength</h5>
                      <div class="mt-3 outs_more-buttn">
                        <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="slider-img">
                    <div class="slider-info ">
                      <h4>Fitness And Stronger </h4>
                      <h5>Real Athletes</h5>
                      <div class="mt-3 outs_more-buttn">
                        <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="slider-img">
                    <div class="slider-info">
                      <h4>Fitness And Health</h4>
                      <h5>With Double Power</h5>
                      <div class="mt-3 outs_more-buttn">
                        <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- This is here just to demonstrate the callbacks -->
          </div>
          <!-- //Slideshow 4 -->
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <!-- //banner -->
    <!-- About-one -->
    <section class="about " id="about">
      <div class="container">
        <div class="row effcet-about">
          <div class="col-lg-7 jst-about py-lg-5 pt-md-5 pt-sm-4 pt-3" data-aos="fade-right">
            <h2 class="mb-lg-5 mb-lg-4 mb-3">Fitness And Health</h2>
            <div class="agile-about-para">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </div>
            <div class="mt-lg-3 mt-2 agile-about-para">
              <p>incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </div>
          </div>
          <div class="col-lg-5 about-States-list" data-aos="fade-left">
            <img src="images/ab1.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <!-- //About-one -->
    <!--service-->	
    <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title text-center clr mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Services</h3>
        <div class="row top-service pb-lg-4 pb-md-3 pb-2">
          <div class="col-lg-8 col-md-8 service-agile-info-left"  data-aos="fade-right"
            data-aos-offset="250"
            data-aos-easing="ease-in-sine">
            <h4 class="mb-lg-4 mb-3"> Body Builder Classes</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet</p>
            <div class="mt-3 outs_more-buttn">
              <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 ser-icon text-center">
            <div class="service-icon-w3layouts">
              <span class="far fa-thumbs-up"></span>
            </div>
          </div>
        </div>
        <div class=" my-lg-5 my-md-4 my-3 row mid-service">
          <div class="col-lg-4 col-md-4 ser-icon text-center">
            <div class="service-icon-w3layouts move-right">
              <span class="fab fa-apple"></span>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 service-agile-info-left" data-aos="fade-left"
            data-aos-offset="200"
            data-aos-easing="ease-in-sine">
            <h4 class="mb-lg-4 mb-3">Weight Loss Classes</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet</p>
            <div class="mt-3 outs_more-buttn">
              <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
            </div>
          </div>
        </div>
        <div class="row bottom-service pt-lg-4 pt-md-3 pt-2" >
          <div class="col-lg-8 col-md-8 service-agile-info-left" data-aos="fade-right"
            data-aos-offset="150"
            data-aos-easing="ease-in-sine">
            <h4 class="mb-lg-4 mb-3">Indoor Cycling Classes</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit ametLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet,</p>
            <div class="mt-3 outs_more-buttn">
              <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 ser-icon text-center">
            <div class="service-icon-w3layouts">
              <span class="fas fa-bicycle"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//service-->
    <!--clients-->
    <section class="client py-lg-4 py-md-3 py-sm-3 py-3" id="client">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Clients</h3>
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="row client-slider-slide">
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Sam Will</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="images/c1.jpg" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Jack Son</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="images/c4.jpg" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row client-slider-slide">
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Jilly Son</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="images/c3.jpg" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Nike Deo</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="images/c2.jpg" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row client-slider-slide">
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class=" mt-3">Sam Will</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="images/c4.jpg" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Jack Will</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="images/c2.jpg" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!--<div class="custom-navigation">
          <a href="#" class="flex-prev">Prev</a>
          <div class="custom-controls-container"></div>
          <a href="#" class="flex-next">Next</a>-->
      </div>
    </section>
    <!--//clients-->
       <!-- price -->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
       <body>
         <div class="container p-5">
           <div class="row">
              <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">price</h3>
             <div class="col-lg-4 col-md-12 mb-4">
               <div class="h-100 flip-card">   
                 <div class="flip-card-inner">
                   <div class="flip-card-front">                    
                     <span class="price">$8</span><br>Unlimited equipments
                     <br>
                     <h2 class="card-title">3 month </h2>
                     <!-- <small>Individual</small> -->
                   </div>
                   <div class="flip-card-back">
                    <ul class="list-group list-group-flush">
                     <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                       <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                     </svg> Free riding </li>
                     <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                       <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                     </svg> Personal trainer</li>
                     <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                       <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                     </svg> Weight losing classes</li>
                   </ul>
                   <a href="/signup" class="my-5 btn btn-outline-success btn-lg">Join Now</a>
                 </div>
               </div>
             </div>
           </div>
       
           <div class="col-lg-4 col-md-12 mb-4">
             <div class="h-100 flip-card">
               <div class="flip-card-inner">
                 <div class="flip-card-front">
                  
                   <span class="price">$20</span><br>Unlimited equipments
                   <br>
                   <h2 class="card-title">9 month </h2>
                   <!-- <small>Small Business</small> -->
                 </div>
                 <div class="flip-card-back">
                  <ul class="list-group list-group-flush">
                   <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                     <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                   </svg> Free riding </li>
                   <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                     <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                   </svg> Personal trainer</li>
                   <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                     <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                   </svg> Weight losing classes</li>
                 </ul>
                 <a href="/signup" class="my-5 btn btn-outline-success btn-lg">Join Now</a>
               </div>
             </div>
           </div>
         </div>
       
       
         <div class="col-lg-4 col-md-12 mb-4">
           <div class="h-100 flip-card">
             <div class="flip-card-inner">
               <div class="flip-card-front">
                
                 <span class="price">$40</span><br>Unlimited equipments
                 <br>
                 <h2 class="card-title">1 year </h2>
                 <!-- <small>Large Company</small> -->
               </div>
               <div class="flip-card-back">
                <ul class="list-group list-group-flush">
                 <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                   <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                 </svg> Free riding </li>
                 <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                   <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                 </svg> Personal trainer</li>
                 <li class="list-group-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                   <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                 </svg> Weight losing classes</li>
               </ul>
               <a href="/signup" class="my-5 btn btn-outline-success btn-lg">Join Now</a>
             </div>
           </div>
         </div>
       </div>
       </div>    
       </div>
       <!-- Option 1: Bootstrap Bundle with Popper -->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
       </body>
       <!-- //price -->
    <!-- team -->
    <section class="team  py-lg-4 py-md-3 py-sm-3 py-3" id="team">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center clr mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Traines</h3>
        <div class="row text-center ">
          <div class="col-lg-3 col-md-6 col-sm-6 news-img" data-aos="fade-up"
            data-aos-duration="3000">
            <div class="team-agile-group">
              <img src="images/t1.jpg" alt="" class="image-fluid">
              <h4 class="mt-3 mb-2">Sam Will 
              </h4>
              <span class="wls-client-title">Body Builder</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                Lorem ipsum 
              </p>
              <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
                <ul>
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 news-img" data-aos="fade-down"
            data-aos-duration="2500">
            <div class="team-agile-group">
              <img src="images/t2.jpg" alt="" class="image-fluid">
              <h4 class="mt-3 mb-2">Sara kent 
              </h4>
              <span class="wls-client-title">Fitness Trainer</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                Lorem ipsum 
              </p>
              <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
                <ul>
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 news-img" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="team-agile-group">
              <img src="images/t3.jpg" alt="" class="image-fluid">
              <h4 class="mt-3 mb-2">Rose Will 
              </h4>
              <span class="wls-client-title">Weight Trainer</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                Lorem ipsum 
              </p>
              <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
                <ul>
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 news-img" data-aos="fade-down"
            data-aos-duration="1500">
            <div class="team-agile-group">
              <img src="images/t4.jpg" alt="" class="image-fluid">
              <h4 class="mt-3 mb-2">Max Will 
              </h4>
              <span class="wls-client-title">Body Builder</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                Lorem ipsum 
              </p>
              <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
                <ul>
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//team -->
    <!--portfolio -->
    <!-- <section class="gallery py-lg-4 py-md-3 py-sm-3 py-3" id="gallery">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Gallery</h3>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 p-0 snap-img" >
            <div class=" agileits_w3layouts_gallery_grid1" data-aos="zoom-in-up">
              <div class="w3_agile_gallery_effect">
                <a href="images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                <img src="images/g1.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
            <div class="agileits_w3layouts_gallery_grid1" data-aos="zoom-in-up">
              <div class="w3_agile_gallery_effect">
                <a href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                <img src="images/g2.jpg" alt=" " class="img-fluid"> 
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 p-0 snap-img">
            <div class=" agileits_w3layouts_gallery_grid1" data-aos="zoom-in-up">
              <div class="w3_agile_gallery_effect">
                <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                <img src="images/g3.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
            <div class="agileits_w3layouts_gallery_grid1" data-aos="zoom-in-up">
              <div class="w3_agile_gallery_effect">
                <a href="images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                <img src="images/g6.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 p-0 snap-img">
            <div class="agileits_w3layouts_gallery_grid1 " data-aos="zoom-in-up">
              <div class="w3_agile_gallery_effect">
                <a href="images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                <img src="images/g4.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
            <div class="agileits_w3layouts_gallery_grid1 " data-aos="zoom-in-up">
              <div class="w3_agile_gallery_effect">
                <a href="images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                <img src="images/g2.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
            <div class="agileits_w3layouts_gallery_grid1" data-aos="zoom-in-up">
              <div class="w3_agile_gallery_effect">
                <a href="images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                <img src="images/g3.jpg" alt=" " class="img-fluid">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- //gallery -->
    <div class="address_mail_footer_grids" data-aos="fade-up">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555"></iframe>
    </div>
    <!--contact -->
    <Section class="contact py-lg-4 py-md-3 py-sm-3 py-3" id="contact">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Contact Us</h3>
        <div class="mb-lg-5 mb-md-4 mb-3 row contact-right ">
          <div class="col-lg-4 col-md-5 footer_grid_left text-center" data-aos="fade-right"
            data-aos-offset="100"
            data-aos-easing="ease-in-sine">
            <div class="contact_footer_grid_left text-center mb-3">
              <span class="fas fa-map-marker-alt"></span>
            </div>
            <p> Broome St,10002,Canada<br>New York City 90210.</p>
          </div>
          <div class="col-lg-4 col-md-3 footer_grid_left text-center"  data-aos="fade-right"
            data-aos-offset="110"
            data-aos-easing="ease-in-sine">
            <div class="contact_footer_grid_left text-center mb-3">
              <span class="fas fa-phone-volume"></span>
            </div>
            <p>+(000) 123 4565 32<br>+(010) 123 455 354</p>
          </div>
          <div class="col-lg-4 col-md-4 footer_grid_left text-center" data-aos="fade-right"
            data-aos-offset="120"
            data-aos-easing="ease-in-sine">
            <div class="contact_footer_grid_left text-center mb-3">
              <span class="fas fa-at"></span>
            </div>
            <p><a href="mailto:info@example.com">info@example1.com</a> 
              <br><a href="mailto:info@example.com">info@example2.com</a>
            </p>
          </div>
        </div>
        <div class=" contact-form aos-init aos-animate" data-aos="fade-left"
          data-aos-offset="100"
          data-aos-easing="ease-in-sine">
          <form action="#" method="post">
            <div class="row text-center contact-wls-detail">
              <div class="col-md-4 form-group contact-forms">
                <input type="text" class="form-control" placeholder="Your Name" required="">
              </div>
              <div class="col-md-4 form-group contact-forms">
                <input type="email" class="form-control" placeholder="Your Email" required="">
              </div>
              <div class="col-md-4 form-group contact-forms">
                <input type="text" name="Phone" class="form-control" placeholder="Phone " required="">
              </div>
            </div>
            <div class="form-group contact-forms">
              <textarea class="form-control" rows="3" placeholder="Your Message" required=""></textarea>
            </div>
            <button type="submit" class="btn sent-butnn">Send</button>
          </form>
        </div>
      </div>
    </section>
    <!--//contact -->
    <!--model-->
    <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLiveLabel">Gym-Plus</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="images/b1.jpg" alt="" class="img-fluid">
            <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
              eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellu
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary"> <a href="login">login</a></button> -->
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    