<div class="container" style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; background-repeat: no-repeat; background-size: cover; background-image: url('https://www.daysoftheyear.com/wp-content/uploads/national-fast-food-day.jpg');">
<form method="post" action="postaddrecipe" enctype="multipart/form-data">
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="form4Example1" class="form-control" name="iteam" style="background-color: white;"/>
      <label class="form-label" for="form4Example1" style="color: black;">Name</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
      <textarea class="form-control" id="form4Example3" rows="4" name="description" style="background-color: aliceblue;" ></textarea>
      <label class="form-label" for="form4Example3" style="color: black;">Message</label>
    </div>

    <div class="form-outline mb-4">
       <input type="file" name="photo" id="" class="form-control">
        <label class="form-label" for="form4Example3" style="color: black;">Photo</label>
      </div>


  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">ADD</button>
  </form>

</div>